<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        Enter name:<br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
