@{ 
    var rules = new List<string>();
    rules = (List<string>)Session["rules"];

    if(rules == null)
    {
        rules = new List<string>();
    }

    var newRule = Request["rule"];
    if (!newRule.IsEmpty())
    {
        rules.Add(newRule);
        Session["rules"] = rules;
    }

    void redirect(Object sender, EventArgs e)
    {
        Response.Redirect("Rules.cshtml");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        @if (rules != null)
        {
            foreach (var rule in rules)
            {
                <li>@rule</li>
            }
        }
    </ul>
    <form>
        Enter rule:<br>
        <input type="text" id="rule" name="rule"><br>
        <input type="submit" value="Submit" onclick="redirect">
    </form>
</body>
</html>
