html
 body
    h1 #{title}
    ul
        each note, i in notes
            li
                a(href='/note/details/' + `${note.title}`)= note.title
    a(href='/note/add/' + `${notes[0].author}`)
        button(type="button") Add New Note