* {
	margin: 0px;
	font-size: 16px;
}
div {
	border: solid;
	float: left;
	margin: 10px;
	border-width: 2px;
	padding-bottom: 10px;
}
.inside {
	clear: right;
	text-align: center;
}
.titles {
	float: right;
	margin: 0px;
	margin-bottom: 25px;
	border-right: none;
	border-top: none;
	padding: 0px;
}
img {
	width: 100px;
	float: left;
}	
h1 {
	padding: 35px;
}
p {
	margin: 20px;
	margin-left: 35px;
	margin-right: 35px;
}
h2 {
	text-align: center;
	margin: 10px;
	font-size: 150%;
}
#designer {
	width: 100%;
	margin: 0px;
	margin-top: 10px;
	border-left: none;
	border-right: none;
	position: absolute;
	bottom: 0px;
}
#designer-text {
	text-align: center;
}
#title {
	width: 500em;
}
#title_text {
	font-size: 200%;
}
#left {
	margin-left: 20px;
}
#right {
	margin-right: 20px;
}
.flex-container {
	display: flex;
	margin: 0px;
	border: none;
	justify-content: space-evenly;
}
@media only screen and (max-width: 767px) {
 div { width: 100%; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 div { width: 100%; }
 .half {width: 50%; }
}
@media only screen and (min-width: 1024px) {
 div { 
	width: 31%; 
}
.flex-container {
	width: 100%;
}
}