* {
	margin: 0px;
	font-size: 16px;
	font-family: Arial;
}
div {
	border: solid;
	float: left;
	margin: 10px;
	border-width: 2px;
	padding-bottom: 10px;
}
.inside {
	clear: right;
	text-align: center;
}
.titles {
	float: right;
	margin: 0px;
	margin-bottom: 25px;
	border-right: none;
	border-top: none;
	padding: 0px;
}
img {
	width: 100px;
	float: left;
}	
h1 {
	padding: 35px;
}
p {
	margin: 20px;
	margin-left: 35px;
	margin-right: 35px;
}
h2 {
	text-align: center;
	margin: 10px;
	font-size: 150%;
}
#designer {
	width: 100%;
	margin: 0px;
	margin-top: 10px;
	border: none;
	border-top: solid;
	position: absolute;
	bottom: 0px;
	height: 75px;
	padding-top: 5px;
	background-color: rgb(245,245,220);
}
#designer-text {
	text-align: center;
}
#title {
	width: 500em;
}
#title_text {
	font-size: 200%;
}
#left {
	margin-left: 20px;
	background-color: rgb(245,245,220);
}
#right {
	margin-right: 20px;
	background-color: rgb(245,245,220);
}
#middle {
	background-color: rgb(245,245,220);
}
html {
	position: relative;
	min-height: 100%;
}
.flex-container-large {
	margin: 0px;
	border: none;
	margin-bottom:85px;
	width: 100%;
}
.flex-container-medium {
	margin: 0px;
	border: none;
}
.flex-container-small {
	margin: 0px;
	border: none;
}
#medium-small {
	position: absolute;
	top: 0px;
}
#burger {
	width: 75px;
}
 #ipsum {
	 background-color: rgb(255, 128, 0);
 }
 #lorem {
	 background-color: rgb(0, 255, 255);
 }
 #dolor {
	 background-color: rgb(255, 179, 179);
 }
@media only screen and (max-width: 767px) {
 div { width: 100%; }
 .titles { width: 50%; }
 #large {
	visibility: hidden;
 }
 .flex-container-medium {
	 display: contents;
 }
  .flex-container-small {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
 }
 #left {
	margin-right: 20px;
	margin-bottom: 0px; 
 }
 #middle {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 0px; 
 }
 #right {
	margin-left: 20px;
 }
 h1 {
	display: none;
 }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 div { width: 50%; }
 .flex-container-large {
	 width: 100%;
 }
 #left {
	 width: 100%; 
	 margin-right: 20px;
	 margin-bottom: 0px;
	 margin-top: 0px;
 }
 #middle {
	 margin-left: 20px;
 }
 #lorem {width: 25%; }
 #large {
	 visibility: hidden;
 }
 .flex-container-medium {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
 }
 .flex-container-small {
	 display: contents;
 }
 #big {
	 display: none;
 }
 .large_title {
	 display: none;
 }
 .flex-container-large {
	 margin-top: 55px;
 }
}
@media only screen and (min-width: 1024px) {
 div { 
	width: 33%; 
 }
 .flex-container-large {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
 }
 #medium-small {
	 visibility: hidden;
 }
 .flex-container-medium {
	 display: contents;
 }
 .flex-container-small {
	 display: contents;
 }
}